<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원탈퇴  실패</title>
    <!-- Bootstrap CSS 추가 -->
    <!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
</head>
<body>
<div class="container">
    <script>
            alert("존재하지 않는 회원입니다");
            window.location.href = "/";
    </script>

    <!--    <a href="/members/delete" class="btn btn-primary">다시 시도하기</a>-->
</div>
<!-- Bootstrap JS 및 의존성 추가 -->
<!--<script th:src="@{/js/bootstrap.bundle.min.js}"></script>-->
</body>
</html>
