<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입 실패</title>
    <!-- Bootstrap CSS 추가 -->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
</head>
<body>
<div class="container">
<!--    <div class="alert alert-danger" role="alert" th:if="${errorMessage}">-->
<!--&lt;!&ndash;        <strong>오류:</strong> <span th:text="${errorMessage}"></span>&ndash;&gt;-->
<!--    </div>-->

    <script>
        alert("이미 존재하거나 비어있는 이름입니다.");
        window.location.href = "/";
    </script>
<!--    <p>이미 존재하거나 비어있는 이름입니다.</p>-->
<!--    <a href="/members/new" class="btn btn-primary">다시 시도하기</a>-->
</div>
<!-- Bootstrap JS 및 의존성 추가 -->
<!--<script th:src="@{/js/bootstrap.bundle.min.js}"></script>-->
</body>
</html>
